data/
output/
data/MetaSAM/
.venv/
OrthoSAM/DWH.txt
nohup.out
numba/
code/DWH.txt
Notebooks/archieved/
MetaSAM/
Notebooks/OtherDataset/ImageGrain_output/
Notebooks/OtherDataset/SediNet_output
Notebooks/OtherDataset/SediNet_outputs.zip
Notebooks/OtherDataset/ImageGrain_outputs.zip